<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>画像読み込みテスト</title>
  </head>
  <body>
    <h1>Driveの画像表示テスト</h1>
    <img id="img-box" alt="GAS画像" style="max-width: 100%;" />
    <script src="/scripts/fetchImage.js" is:inline></script>
  </body>
</html>
